.agree-livestock-theme {
          --primary-25: #fffaf8;
  --primary-50: #fff6f1;
  --primary-100: #ffeee4;
  --primary-200: #ffdbc5;
  --primary-300: #ffc8a1;
  --primary-400: #ffb272;
  --primary-500: #ff9900;
  --primary-600: #e48800;
  --primary-700: #c57600;
  --primary-800: #a16000;
  --primary-900: #724400;
  --buttons-lg-padding-left-right: 16;
  --buttons-lg-padding-top-bottom: 12;
  --buttons-lg-font-size: 18;
  --buttons-lg-typography: [object Object];
  --buttons-lg-icon-size: 20;
  --buttons-sm-padding-left-right: 12;
  --buttons-sm-padding-top-bottom: 8;
  --buttons-sm-font-size: 14;
  --buttons-sm-typography: [object Object];
  --buttons-sm-icon-size: 12;
  --buttons-primary-default-background-color: #ff9900;
  --buttons-primary-default-color: #ffffff;
  --buttons-primary-hover-background-color: #e48800;
  --buttons-primary-hover-color: #ffffff;
  --buttons-primary-active-background-color: #c57600;
  --buttons-primary-active-color: #ffffff;
  --buttons-primary-focus-background-colors: #ff9900;
  --buttons-primary-focus-color: #ffffff;
  --buttons-primary-focus-border-colors: #ffc8a1;
  --buttons-primary-disabled-background-color: #b1b1b1;
  --buttons-primary-disabled-color: #616161;
  --buttons-primary-border-width: 0;
  --buttons-secondary-default-background-color: #fff6f1;
  --buttons-secondary-default-color: #ff9900;
  --buttons-secondary-hover-background-color: #ffeee4;
  --buttons-secondary-hover-color: #e48800;
  --buttons-secondary-active-background-color: #ffdbc5;
  --buttons-secondary-active-color: #e48800;
  --buttons-secondary-focus-background-color: #fff6f1;
  --buttons-secondary-focus-color: #ff9900;
  --buttons-secondary-focus-border-colors: #ff9900;
  --buttons-secondary-disabled-background-color: #f3f3f3;
  --buttons-secondary-disabled-color: #cecece;
  --buttons-secondary-border-width: 0;
  --buttons-border-radius: 4;
  --buttons-md-padding-left-right: 12;
  --buttons-md-padding-top-bottom: 8;
  --buttons-md-font-size: 16;
  --buttons-md-typography: [object Object];
  --buttons-md-icon-size: 16;
  --checkbox-default-background-color: #ffffff;
  --checkbox-default-border: #cecece;
  --checkbox-disabled-background-color: #e8e8e8;
  --checkbox-disabled-border: #b1b1b1;
  --checkbox-active-disable-background-color: #ffc8a1;
  --checkbox-active-disable-color: #ffffff;
  --checkbox-active-disable-border: #ff9900;
  --checkbox-active-background-color: #ff9900;
  --checkbox-active-color: #ffffff;
  --checkbox-active-border: #e48800;
  --checkbox-border-radius: 4;
  --checkbox-border-width: 1;
  --checkbox-text-enable: #041e29;
  --checkbox-text-disable: #8f8f8f;
  --radio-border-width: 1;
  --radio-default-background-color: #ffffff;
  --radio-default-border: #cecece;
  --radio-disable-background-color: #e8e8e8;
  --radio-disable-border: #b1b1b1;
  --radio-active-background-color: #ffffff;
  --radio-active-border: #ff9900;
  --radio-active-disable-background-color: #ffffff;
  --radio-active-disable-border: #ffc8a1;
  --radio-text-enable: #041e29;
  --radio-text-disable: #8f8f8f;
  --anchor-default-color: #ff9900;
  --anchor-hover-color: #e48800;
  --anchor-active-color: #c57600;
  --anchor-focus-color: #ff9900;
  --anchor-disable-color: #b1b1b1;
  --anchor-lg-font-size: 18;
  --anchor-lg-icon-size: 20;
  --anchor-md-font-size: 16;
  --anchor-md-icon-size: 16;
  --anchor-sm-font-size: 14;
  --anchor-sm-icon-size: 12;
  --switch-active-background-color: #ff9900;
  --switch-active-disable-background-color: #ffdbc5;
  --switch-nonactive-background-color: #b1b1b1;
  --switch-nonactive-disable-background-color: #e8e8e8;
  --button: [object Object];
  --avatar-lg-size: 64;
  --avatar-lg-icon-size: 40;
  --avatar-lg-font-size: 18;
  --avatar-md-size: 40;
  --avatar-md-icon-size: 24;
  --avatar-md-font-size: 16;
  --avatar-sm-size: 32;
  --avatar-sm-icon-size: 16;
  --avatar-sm-font-size: 12;
      }