.agree-fisheries-theme {
          --primary-25: #f8fafd;
  --primary-50: #f2f6fb;
  --primary-100: #e4eef7;
  --primary-200: #c6dcf0;
  --primary-300: #a3c9e8;
  --primary-400: #73b2df;
  --primary-500: #229bd8;
  --primary-600: #1e8ac1;
  --primary-700: #1a78a7;
  --primary-800: #156288;
  --primary-900: #0f4560;
  --buttons-lg-padding-left-right: 16;
  --buttons-lg-padding-top-bottom: 12;
  --buttons-lg-font-size: 18;
  --buttons-lg-typography: [object Object];
  --buttons-lg-icon-size: 20;
  --buttons-sm-padding-left-right: 12;
  --buttons-sm-padding-top-bottom: 8;
  --buttons-sm-font-size: 14;
  --buttons-sm-typography: [object Object];
  --buttons-sm-icon-size: 12;
  --buttons-primary-default-background-color: #229bd8;
  --buttons-primary-default-color: #ffffff;
  --buttons-primary-hover-background-color: #1e8ac1;
  --buttons-primary-hover-color: #ffffff;
  --buttons-primary-active-background-color: #1a78a7;
  --buttons-primary-active-color: #ffffff;
  --buttons-primary-focus-background-colors: #229bd8;
  --buttons-primary-focus-color: #ffffff;
  --buttons-primary-disabled-background-color: #b1b1b1;
  --buttons-primary-disabled-color: #616161;
  --buttons-primary-border-width: 0;
  --buttons-secondary-default-background-color: #f2f6fb;
  --buttons-secondary-default-color: #229bd8;
  --buttons-secondary-hover-background-color: #e4eef7;
  --buttons-secondary-hover-color: #1e8ac1;
  --buttons-secondary-active-background-color: #c6dcf0;
  --buttons-secondary-active-color: #1e8ac1;
  --buttons-secondary-focus-background-color: #f2f6fb;
  --buttons-secondary-focus-color: #229bd8;
  --buttons-secondary-disabled-background-color: #f3f3f3;
  --buttons-secondary-disabled-color: #cecece;
  --buttons-secondary-border-width: 0;
  --buttons-border-radius: 500;
  --buttons-md-padding-left-right: 12;
  --buttons-md-padding-top-bottom: 8;
  --buttons-md-font-size: 16;
  --buttons-md-typography: [object Object];
  --buttons-md-icon-size: 16;
  --checkbox-default-background-color: #ffffff;
  --checkbox-default-border: #cecece;
  --checkbox-disabled-background-color: #e8e8e8;
  --checkbox-disabled-border: #b1b1b1;
  --checkbox-active-disable-background-color: #a3c9e8;
  --checkbox-active-disable-color: #ffffff;
  --checkbox-active-disable-border: #229bd8;
  --checkbox-active-background-color: #229bd8;
  --checkbox-active-color: #ffffff;
  --checkbox-active-border: #1e8ac1;
  --checkbox-border-radius: 4;
  --checkbox-border-width: 1;
  --checkbox-text-enable: #041e29;
  --checkbox-text-disable: #8f8f8f;
  --radio-border-width: 1;
  --radio-default-background-color: #ffffff;
  --radio-default-border: #cecece;
  --radio-disable-background-color: #e8e8e8;
  --radio-disable-border: #b1b1b1;
  --radio-active-background-color: #ffffff;
  --radio-active-border: #229bd8;
  --radio-active-disable-background-color: #ffffff;
  --radio-active-disable-border: #a3c9e8;
  --radio-text-enable: #041e29;
  --radio-text-disable: #8f8f8f;
  --anchor-default-color: #229bd8;
  --anchor-hover-color: #1e8ac1;
  --anchor-active-color: #1a78a7;
  --anchor-focus-color: #229bd8;
  --anchor-disable-color: #b1b1b1;
  --anchor-lg-font-size: 18;
  --anchor-lg-icon-size: 20;
  --anchor-md-font-size: 16;
  --anchor-md-icon-size: 16;
  --anchor-sm-font-size: 14;
  --anchor-sm-icon-size: 12;
  --switch-active-background-color: #229bd8;
  --switch-active-disable-background-color: #c6dcf0;
  --switch-nonactive-background-color: #b1b1b1;
  --switch-nonactive-disable-background-color: #e8e8e8;
  --button: [object Object];
  --avatar-lg-size: 64;
  --avatar-lg-icon-size: 40;
  --avatar-lg-font-size: 18;
  --avatar-md-size: 40;
  --avatar-md-icon-size: 24;
  --avatar-md-font-size: 16;
  --avatar-sm-size: 32;
  --avatar-sm-icon-size: 16;
  --avatar-sm-font-size: 12;
      }