.agree-culture-theme {
          --primary-25: #f9fbf9;
  --primary-50: #f2f8f3;
  --primary-100: #e6f1e8;
  --primary-200: #cae2cf;
  --primary-300: #aad2b2;
  --primary-400: #82c190;
  --primary-500: #47af64;
  --primary-600: #3f9c59;
  --primary-700: #36874d;
  --primary-800: #2c6e3f;
  --primary-900: #1f4e2c;
  --buttons-lg-padding-left-right: 16;
  --buttons-lg-padding-top-bottom: 12;
  --buttons-lg-font-size: 18;
  --buttons-lg-typography: [object Object];
  --buttons-lg-icon-size: 20;
  --buttons-sm-padding-left-right: 12;
  --buttons-sm-padding-top-bottom: 8;
  --buttons-sm-font-size: 14;
  --buttons-sm-typography: [object Object];
  --buttons-sm-icon-size: 12;
  --buttons-primary-default-background-color: #47af64;
  --buttons-primary-default-color: #ffffff;
  --buttons-primary-hover-background-color: #3f9c59;
  --buttons-primary-hover-color: #ffffff;
  --buttons-primary-active-background-color: #36874d;
  --buttons-primary-active-color: #ffffff;
  --buttons-primary-focus-background-colors: #47af64;
  --buttons-primary-focus-color: #ffffff;
  --buttons-primary-disabled-background-color: #b1b1b1;
  --buttons-primary-disabled-color: #616161;
  --buttons-primary-border-width: 0;
  --buttons-secondary-default-background-color: #f2f8f3;
  --buttons-secondary-default-color: #47af64;
  --buttons-secondary-hover-background-color: #e6f1e8;
  --buttons-secondary-hover-color: #3f9c59;
  --buttons-secondary-active-background-color: #cae2cf;
  --buttons-secondary-active-color: #3f9c59;
  --buttons-secondary-focus-background-color: #f2f8f3;
  --buttons-secondary-focus-color: #47af64;
  --buttons-secondary-disabled-background-color: #f3f3f3;
  --buttons-secondary-disabled-color: #cecece;
  --buttons-secondary-border-width: 0;
  --buttons-border-radius: 500;
  --buttons-md-padding-left-right: 12;
  --buttons-md-padding-top-bottom: 8;
  --buttons-md-font-size: 16;
  --buttons-md-typography: [object Object];
  --buttons-md-icon-size: 16;
  --checkbox-default-background-color: #ffffff;
  --checkbox-default-border: #cecece;
  --checkbox-disabled-background-color: #e8e8e8;
  --checkbox-disabled-border: #b1b1b1;
  --checkbox-active-disable-background-color: #aad2b2;
  --checkbox-active-disable-color: #ffffff;
  --checkbox-active-disable-border: #47af64;
  --checkbox-active-background-color: #47af64;
  --checkbox-active-color: #ffffff;
  --checkbox-active-border: #3f9c59;
  --checkbox-border-radius: 4;
  --checkbox-border-width: 1;
  --checkbox-text-enable: #041e29;
  --checkbox-text-disable: #8f8f8f;
  --radio-border-width: 1;
  --radio-default-background-color: #ffffff;
  --radio-default-border: #cecece;
  --radio-disable-background-color: #e8e8e8;
  --radio-disable-border: #b1b1b1;
  --radio-active-background-color: #ffffff;
  --radio-active-border: #47af64;
  --radio-active-disable-background-color: #ffffff;
  --radio-active-disable-border: #aad2b2;
  --radio-text-enable: #041e29;
  --radio-text-disable: #8f8f8f;
  --anchor-default-color: #47af64;
  --anchor-hover-color: #3f9c59;
  --anchor-active-color: #36874d;
  --anchor-focus-color: #47af64;
  --anchor-disable-color: #b1b1b1;
  --anchor-lg-font-size: 18;
  --anchor-lg-icon-size: 20;
  --anchor-md-font-size: 16;
  --anchor-md-icon-size: 16;
  --anchor-sm-font-size: 14;
  --anchor-sm-icon-size: 12;
  --switch-active-background-color: #47af64;
  --switch-active-disable-background-color: #cae2cf;
  --switch-nonactive-background-color: #b1b1b1;
  --switch-nonactive-disable-background-color: #e8e8e8;
  --button: [object Object];
  --avatar-lg-size: 64;
  --avatar-lg-icon-size: 40;
  --avatar-lg-font-size: 18;
  --avatar-md-size: 40;
  --avatar-md-icon-size: 24;
  --avatar-md-font-size: 16;
  --avatar-sm-size: 32;
  --avatar-sm-icon-size: 16;
  --avatar-sm-font-size: 12;
      }