.foundation-theme {
          --elevation-0: [object Object];
  --elevation-1: [object Object];
  --elevation-2: [object Object],[object Object];
  --elevation-3: [object Object],[object Object];
  --elevation-4: [object Object],[object Object];
  --elevation-5: [object Object],[object Object];
  --font-families-primary: Nunito Sans;
  --font-families-secondary: Nunito Sans;
  --line-heights-0: 48;
  --line-heights-1: 42;
  --line-heights-2: 36;
  --line-heights-3: 32;
  --line-heights-4: 28;
  --line-heights-5: 12;
  --line-heights-6: 24;
  --line-heights-7: 20;
  --line-heights-8: 18;
  --font-weights-bold: Bold;
  --font-weights-regular: Regular;
  --font-weights-semi-bold: SemiBold;
  --font-weights-italic: Italic;
  --font-size-0: 10px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 22px;
  --font-size-7: 24px;
  --font-size-8: 28px;
  --font-size-9: 34px;
  --letter-spacing-0: 0;
  --letter-spacing-1: -0.08;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 18;
  --heading-heading-1: [object Object];
  --heading-heading-2: [object Object];
  --heading-heading-3: [object Object];
  --heading-heading-4: [object Object];
  --heading-heading-5: [object Object];
  --heading-heading-6: [object Object];
  --body-large-regular: [object Object];
  --body-large-semibold: [object Object];
  --body-large-bold: [object Object];
  --body-large-italic: [object Object];
  --body-large-underline: [object Object];
  --body-large-underline-semibold: [object Object];
  --body-large-underline-bold: [object Object];
  --body-small-regular: [object Object];
  --body-small-semibold: [object Object];
  --body-small-bold: [object Object];
  --body-small-italic: [object Object];
  --body-small-underline: [object Object];
  --body-small-underline-semibold: [object Object];
  --body-small-underline-bold: [object Object];
  --caption-large-regular: [object Object];
  --caption-large-semibold: [object Object];
  --caption-large-bold: [object Object];
  --caption-large-italic: [object Object];
  --caption-large-underline: [object Object];
  --caption-large-underline-semibold: [object Object];
  --caption-large-underline-bold: [object Object];
  --caption-small-regular: [object Object];
  --caption-small-semibold: [object Object];
  --caption-small-bold: [object Object];
  --caption-small-italic: [object Object];
  --caption-small-underline: [object Object];
  --caption-small-underline-semibold: [object Object];
  --caption-small-underline-bold: [object Object];
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --radius-0: 0;
  --radius-1: 2;
  --radius-2: 4;
  --radius-3: 6;
  --radius-4: 8;
  --radius-5: 16;
  --radius-6: 32;
  --radius-7: 500;
  --spacing-1: 4;
  --spacing-2: 8;
  --spacing-3: 12;
  --spacing-4: 16;
  --spacing-5: 20;
  --spacing-6: 24;
  --spacing-7: 28;
  --spacing-8: 32;
  --spacing-9: 36;
  --spacing-10: 40;
  --spacing-11: 48;
  --spacing-12: 56;
  --border-1: 1;
  --border-2: 2;
  --border-0: 0;
  --size-1: 8;
  --size-2: 12;
  --size-3: 16;
  --size-4: 20;
  --size-5: 24;
  --size-6: 32;
  --size-7: 40;
  --size-8: 58;
  --size-9: 64;
  --base-white: #ffffff;
  --base-black: #000000;
  --lgt-25: #fdf9f8;
  --lgt-50: #fcf3f1;
  --lgt-100: #fae7e4;
  --lgt-200: #f6cdc5;
  --lgt-300: #f1afa1;
  --lgt-400: #ec8b72;
  --lgt-500: #e8590c;
  --lgt-600: #cf4f0a;
  --lgt-700: #b34409;
  --lgt-800: #923807;
  --lgt-900: #672705;
  --lgc-25: #f8faf8;
  --lgc-50: #f1f5f2;
  --lgc-100: #e4ece5;
  --lgc-200: #c5d7c8;
  --lgc-300: #a1c0a5;
  --lgc-400: #72a67a;
  --lgc-500: #008832;
  --lgc-600: #00792c;
  --lgc-700: #006926;
  --lgc-800: #00561f;
  --lgc-900: #003c16;
  --lgd-25: #f8fafc;
  --lgd-50: #f1f5f9;
  --lgd-100: #e4eaf3;
  --lgd-200: #c5d4e6;
  --lgd-300: #a1bbd9;
  --lgd-400: #729ecb;
  --lgd-500: #007bbc;
  --lgd-600: #006ea8;
  --lgd-700: #005f91;
  --lgd-800: #004d76;
  --lgd-900: #003754;
  --secondary-25: #f9f8fb;
  --secondary-50: #f3f2f7;
  --secondary-100: #e7e4f0;
  --secondary-200: #ccc6e0;
  --secondary-300: #aea3d0;
  --secondary-400: #8975be;
  --secondary-500: #5620aa;
  --secondary-600: #4c1c98;
  --secondary-700: #421883;
  --secondary-800: #36146b;
  --secondary-900: #260e4c;
  --tertiary-25: #f9f9f9;
  --tertiary-50: #f3f3f3;
  --tertiary-100: #e8e8e8;
  --tertiary-200: #cecece;
  --tertiary-300: #b1b1b1;
  --tertiary-400: #8f8f8f;
  --tertiary-500: #616161;
  --tertiary-600: #565656;
  --tertiary-700: #4b4b4b;
  --tertiary-800: #3d3d3d;
  --tertiary-900: #2b2b2b;
  --error-25: #fbf8f8;
  --error-50: #f8f1f1;
  --error-100: #f1e4e4;
  --error-200: #e3c5c5;
  --error-300: #d5a1a1;
  --error-400: #c57272;
  --error-500: #b4000f;
  --error-600: #a0000d;
  --error-700: #8b000b;
  --error-800: #710009;
  --error-900: #500006;
  --warning-25: #fefaf8;
  --warning-50: #fef6f2;
  --warning-100: #fdeee4;
  --warning-200: #fbdcc5;
  --warning-300: #f9c9a2;
  --warning-400: #f7b473;
  --warning-500: #f59c15;
  --warning-600: #db8b12;
  --warning-700: #bd7810;
  --warning-800: #9a620d;
  --warning-900: #6d4509;
  --success-25: #f8faf8;
  --success-50: #f1f5f2;
  --success-100: #e4ebe4;
  --success-200: #c5d6c6;
  --success-300: #a1bfa2;
  --success-400: #72a474;
  --success-500: #00851a;
  --success-600: #007617;
  --success-700: #006714;
  --success-800: #005410;
  --success-900: #003b0b;
  --information-25: #f8f9fc;
  --information-50: #f1f4f9;
  --information-100: #e4eaf3;
  --information-200: #c5d3e6;
  --information-300: #a1b9d9;
  --information-400: #729bcb;
  --information-500: #0077bc;
  --information-600: #006aa8;
  --information-700: #005c91;
  --information-800: #004b76;
  --information-900: #003554;
      }