.logee-distribution-theme {
          --primary-25: #f8fafc;
  --primary-50: #f1f5f9;
  --primary-100: #e4eaf3;
  --primary-200: #c5d4e6;
  --primary-300: #a1bbd9;
  --primary-400: #729ecb;
  --primary-500: #007bbc;
  --primary-600: #006ea8;
  --primary-700: #005f91;
  --primary-800: #004d76;
  --primary-900: #003754;
  --buttons-lg-padding-left-right: 16;
  --buttons-lg-padding-top-bottom: 12;
  --buttons-lg-font-size: 18;
  --buttons-lg-typography: [object Object];
  --buttons-lg-icon-size: 20;
  --buttons-sm-padding-left-right: 12;
  --buttons-sm-padding-top-bottom: 8;
  --buttons-sm-font-size: 14;
  --buttons-sm-typography: [object Object];
  --buttons-sm-icon-size: 12;
  --buttons-primary-default-background-color: #007bbc;
  --buttons-primary-default-color: #ffffff;
  --buttons-primary-hover-background-color: #006ea8;
  --buttons-primary-hover-color: #ffffff;
  --buttons-primary-active-background-color: #005f91;
  --buttons-primary-active-color: #ffffff;
  --buttons-primary-focus-background-colors: #007bbc;
  --buttons-primary-focus-color: #ffffff;
  --buttons-primary-focus-border-colors: #a1bbd9;
  --buttons-primary-disabled-background-color: #b1b1b1;
  --buttons-primary-disabled-color: #616161;
  --buttons-primary-border-width: 0;
  --buttons-secondary-default-background-color: #f1f5f9;
  --buttons-secondary-default-color: #007bbc;
  --buttons-secondary-hover-background-color: #e4eaf3;
  --buttons-secondary-hover-color: #006ea8;
  --buttons-secondary-active-background-color: #c5d4e6;
  --buttons-secondary-active-color: #006ea8;
  --buttons-secondary-focus-background-color: #f1f5f9;
  --buttons-secondary-focus-color: #007bbc;
  --buttons-secondary-focus-border-colors: #007bbc;
  --buttons-secondary-disabled-background-color: #f3f3f3;
  --buttons-secondary-disabled-color: #cecece;
  --buttons-secondary-border-width: 0;
  --buttons-border-radius: 500;
  --buttons-md-padding-left-right: 12;
  --buttons-md-padding-top-bottom: 8;
  --buttons-md-font-size: 16;
  --buttons-md-typography: [object Object];
  --buttons-md-icon-size: 16;
  --checkbox-default-background-color: #ffffff;
  --checkbox-default-border: #cecece;
  --checkbox-disabled-background-color: #e8e8e8;
  --checkbox-disabled-border: #b1b1b1;
  --checkbox-active-disable-background-color: #a1bbd9;
  --checkbox-active-disable-color: #ffffff;
  --checkbox-active-disable-border: #007bbc;
  --checkbox-active-background-color: #007bbc;
  --checkbox-active-color: #ffffff;
  --checkbox-active-border: #006ea8;
  --checkbox-border-radius: 4;
  --checkbox-border-width: 1;
  --checkbox-text-enable: #36146b;
  --checkbox-text-disable: #8f8f8f;
  --radio-border-width: 1;
  --radio-default-background-color: #ffffff;
  --radio-default-border: #cecece;
  --radio-disable-background-color: #e8e8e8;
  --radio-disable-border: #b1b1b1;
  --radio-active-background-color: #ffffff;
  --radio-active-border: #007bbc;
  --radio-active-disable-background-color: #ffffff;
  --radio-active-disable-border: #a1bbd9;
  --radio-text-enable: #36146b;
  --radio-text-disable: #8f8f8f;
  --anchor-default-color: #007bbc;
  --anchor-hover-color: #006ea8;
  --anchor-active-color: #005f91;
  --anchor-focus-color: #007bbc;
  --anchor-disable-color: #b1b1b1;
  --anchor-lg-font-size: 18;
  --anchor-lg-icon-size: 20;
  --anchor-md-font-size: 16;
  --anchor-md-icon-size: 16;
  --anchor-sm-font-size: 14;
  --anchor-sm-icon-size: 12;
  --switch-active-background-color: #007bbc;
  --switch-active-disable-background-color: #c5d4e6;
  --switch-nonactive-background-color: #b1b1b1;
  --switch-nonactive-disable-background-color: #e8e8e8;
  --button: [object Object];
  --avatar-lg-size: 64;
  --avatar-lg-icon-size: 40;
  --avatar-lg-font-size: 18;
  --avatar-md-size: 40;
  --avatar-md-icon-size: 24;
  --avatar-md-font-size: 16;
  --avatar-sm-size: 32;
  --avatar-sm-icon-size: 16;
  --avatar-sm-font-size: 12;
      }